In [117]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [118]:
path = "\\\sysdatprod1\\Cartridge Complaint Data\\GEM5000\\16010191\\000000000400084978\\000000000400084978_20190516_101910\\CHART_EC_SAMP.csv"

In [119]:
data = pd.read_csv(path)

In [120]:
data.head()

,'05/16/19 11:23:46.811','CartAge','CalType','Hct','Na','K','Ca','BUN','Cl','pO2','pH','HCO3','Crea','Cr','Lac','Glu','Ref','Gnd'
0,'05/16 11:23:47.957',0.36,S,9999.00000,-293.12367,-312.44375,-321.82376,-267.11480,-265.56727,39.02811,-330.56477,-211.38788,-10.49796,-7.70589,-0.88320,-14.48223,2580.61369,-0.00858
1,'05/16 11:23:48.952',0.36,S,13.22808,-293.11122,-312.29097,-321.77827,-267.08175,-265.54066,37.80674,-330.46778,-211.26343,-11.67813,-9.14699,-0.84457,-16.00486,2591.90044,0.00429
2,'05/16 11:23:49.951',0.36,S,9999.00000,-292.91167,-312.15063,-321.66884,-266.91267,-265.38917,36.82913,-330.24762,-211.04928,-10.56062,-7.78313,-0.97590,-17.96009,2599.99428,-0.00858
3,'05/16 11:23:50.949',0.36,S,9999.00000,-292.79923,-312.05622,-321.61562,-266.79937,-265.30077,35.87640,-330.07253,-210.90423,-10.55804,-7.81318,-1.03512,-19.28961,2607.75767,0.00429
4,'05/16 11:23:51.952',0.36,S,9999.00000,-292.68293,-311.96653,-321.56455,-266.69981,-265.20592,34.98806,-329.92146,-210.77763,-10.65332,-7.87411,-1.07374,-20.36163,2614.24219,-0.00429

In [121]:
relevant_data = data[data["'CalType'"]=='S']

In [122]:
relevant_data.head()

,'05/16/19 11:23:46.811','CartAge','CalType','Hct','Na','K','Ca','BUN','Cl','pO2','pH','HCO3','Crea','Cr','Lac','Glu','Ref','Gnd'
0,'05/16 11:23:47.957',0.36,S,9999.00000,-293.12367,-312.44375,-321.82376,-267.11480,-265.56727,39.02811,-330.56477,-211.38788,-10.49796,-7.70589,-0.88320,-14.48223,2580.61369,-0.00858
1,'05/16 11:23:48.952',0.36,S,13.22808,-293.11122,-312.29097,-321.77827,-267.08175,-265.54066,37.80674,-330.46778,-211.26343,-11.67813,-9.14699,-0.84457,-16.00486,2591.90044,0.00429
2,'05/16 11:23:49.951',0.36,S,9999.00000,-292.91167,-312.15063,-321.66884,-266.91267,-265.38917,36.82913,-330.24762,-211.04928,-10.56062,-7.78313,-0.97590,-17.96009,2599.99428,-0.00858
3,'05/16 11:23:50.949',0.36,S,9999.00000,-292.79923,-312.05622,-321.61562,-266.79937,-265.30077,35.87640,-330.07253,-210.90423,-10.55804,-7.81318,-1.03512,-19.28961,2607.75767,0.00429
4,'05/16 11:23:51.952',0.36,S,9999.00000,-292.68293,-311.96653,-321.56455,-266.69981,-265.20592,34.98806,-329.92146,-210.77763,-10.65332,-7.87411,-1.07374,-20.36163,2614.24219,-0.00429

In [123]:
features = ["'CartAge'","'pH'"]

In [124]:
HCO3 = relevant_data[features]

In [125]:
HCO3.head()

  'CartAge'        'pH'
0      0.36  -330.56477
1      0.36  -330.46778
2      0.36  -330.24762
3      0.36  -330.07253
4      0.36  -329.92146

In [126]:
HCO3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5038 entries, 0 to 5287
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   'CartAge'  5038 non-null   object
 1   'pH'       5038 non-null   object
dtypes: object(2)
memory usage: 118.1+ KB

In [127]:
CartAge = HCO3["'CartAge'"]
sensor = HCO3["'pH'"]

In [128]:
CartAge = CartAge.astype(np.float32)
sensor = sensor.astype(np.float32)
CartAge = CartAge.to_list()
sensor = sensor.to_list()

In [129]:
solenoid = False
bubbles = False
curve_num = 0 
bubble_num = 0 
prev_diff = 0
time_threshold = 0.02
curr = 0
nxt = 0 
curr_time = 0 
nxt_time = 0
maxValue = -float('inf')
maxPoint= 0 
minPoint = 0 
minValue = float('inf')
startIndex = 0 
endIndex = 0 
new = True
average = 0
rmse = 0
rmse_threshold = 0.8

for i in range(len(sensor)-1):
    if new==True:
        current_noise_times = 0
        maxValue = -float('inf')
        minValue = float('inf')
        startIndex = i 
        prev_diff = sensor[i+1]-sensor[i]
        curve_num+=1 
        average = 0 
        rmse = 0
        new=False
    curr = sensor[i]
    nxt = sensor[i+1]
    if curr>maxValue:
        maxValue = curr 
        maxPoint = i
    if curr<minValue: 
        minValue = curr 
        minPoint = i 
    curr_time = CartAge[i]
    nxt_time = CartAge[i+1]
    if nxt_time-curr_time>time_threshold:
        endIndex = i 
        new=True
        if sensor[endIndex]>(minValue+(maxValue-minValue)/5) and sensor[endIndex] <(maxValue-(maxValue-minValue)/5) and ((maxPoint>(startIndex+(endIndex-startIndex)/3) and maxPoint<(endIndex-(endIndex-startIndex)/3)) or (minPoint>(startIndex+(endIndex-startIndex)/3) and minPoint<(endIndex-(endIndex-startIndex)/3))):
            print(CartAge[endIndex])
            bubble_num+=1 
            bubbles = True
        if solenoid != True:
            y = sensor[startIndex:endIndex+1]
            x = range(1, len(y)+1)
            arr = np.polyfit(np.log(x), y, deg=1)
            for j in range(len(x)): 
                average+=(y[j]-(arr[0]*np.log(x[j])+arr[1]))**2
            rmse = np.sqrt(average/len(x)) 
            if rmse>rmse_threshold:
                print("sticky solenoid detected at", CartAge[endIndex])
                solenoid = True
                print(arr)
                print(rmse)
    
print(bubble_num)
print(curve_num)

1.3700000047683716
sticky solenoid detected at 18.479999542236328
[  -0.91683864 -316.41997526]
0.8257120510341923
23.530000686645508
30.709999084472656
42.63999938964844
44.5099983215332
58.18000030517578
67.02999877929688
7
125